Node Red Flows/flows.json
[{"id":"c51b4258.acead","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"78f88953.f734e8","type":"modbus-read","z":"c51b4258.acead","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"0","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"c9648d9f.9350a8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":110,"y":80,"wires":[["da104f08.f11c5","8aba9151.035188"],["8cc1e8c4.a87a28"]]},{"id":"da104f08.f11c5","type":"debug","z":"c51b4258.acead","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":270,"y":20,"wires":[]},{"id":"28c55ac0.efcb6e","type":"modbus-flex-write","z":"c51b4258.acead","name":"","showStatusActivities":false,"showErrors":false,"server":"c9648d9f.9350a8","emptyMsgOnFail":false,"keepMsgProperties":true,"x":2450,"y":580,"wires":[[],[]]},{"id":"7a33b841.c8c4f","type":"switch","z":"c51b4258.acead","name":"switch (if not 0)","property":"payload[0]","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":120,"y":160,"wires":[["188627a9.58dbe","814eb17e.acff1"]]},{"id":"ba629423.850958","type":"modbus-flex-getter","z":"c51b4258.acead","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"c9648d9f.9350a8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":720,"y":80,"wires":[["2a4d74f4.576adc"],["cde58d3c.8b422"]],"info":"msg.payload = { value: msg.payload, 'fc': 3, 'unitid': 1, 'address': 1, 'quantity': 10 } \n\nreturn msg"},{"id":"2a4d74f4.576adc","type":"debug","z":"c51b4258.acead","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":20,"wires":[]},{"id":"8cc1e8c4.a87a28","type":"function","z":"c51b4258.acead","name":"Read Detection Data","func":"msg.payload = {\n    'fc': 3, \n    'unitid': 1, \n    'address': 1 , \n    'quantity': 11\n};\n \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":80,"wires":[["ba629423.850958"]]},{"id":"ef81494f.a79838","type":"function","z":"c51b4258.acead","name":"Reset Databank","func":"msg.payload = {\n    value: msg.payload,\n    'fc': 16, \n    'unitid': 1, \n    'address': 0 , \n    'quantity': 100 \n    \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2240,"y":580,"wires":[["28c55ac0.efcb6e"]]},{"id":"d191276.d6fea58","type":"ui_table","z":"c51b4258.acead","group":"9d4f1ab6.7b2bc","name":"Table Test","order":0,"width":"6","height":"6","columns":[{"field":"Part","title":"Part","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Count","title":"Count","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1290,"y":80,"wires":[]},{"id":"cde58d3c.8b422","type":"function","z":"c51b4258.acead","name":"Preparing Part Count Data","func":"msg.payload = [\n    {\n        \"Part\": 1,\n        \"Count\": msg.payload.data[0]\n    },\n    {\n        \"Part\": 2,\n        \"Count\": msg.payload.data[1]\n    },\n    {\n        \"Part\": 3,\n        \"Count\": msg.payload.data[2]\n    },\n    {\n        \"Part\": 4,\n        \"Count\": msg.payload.data[3]\n    },\n    {\n        \"Part\": 5,\n        \"Count\": msg.payload.data[4]\n    },\n    {\n        \"Part\": 6,\n        \"Count\": msg.payload.data[5]\n    },\n    {\n        \"Part\": 7,\n        \"Count\": msg.payload.data[6]\n    },\n    {\n        \"Part\": 8,\n        \"Count\": msg.payload.data[7]\n    },\n    {\n        \"Part\": 9,\n        \"Count\": msg.payload.data[8]\n    },\n    {\n        \"Part\": 10,\n        \"Count\": msg.payload.data[9]\n    },\n    {\n        \"Part\": 11,\n        \"Count\": msg.payload.data[10]\n    }\n];\n\n \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":80,"wires":[["d191276.d6fea58","61438910.4e7ae8"]]},{"id":"61438910.4e7ae8","type":"debug","z":"c51b4258.acead","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1230,"y":20,"wires":[]},{"id":"8e96bbc9.f7a03","type":"ui_button","z":"c51b4258.acead","name":"","group":"731fbc4f.671dec","order":0,"width":"0","height":"0","passthru":true,"label":"Next Image","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":1490,"y":620,"wires":[["2cc7f1c8.9bd34e","4f01283c.2af988"]]},{"id":"2cc7f1c8.9bd34e","type":"switch","z":"c51b4258.acead","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1710,"y":720,"wires":[["28a7a70d.fd1bb8","41c127ef.6c555"]]},{"id":"41c127ef.6c555","type":"join","z":"c51b4258.acead","name":"join 100 values","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"100","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1980,"y":720,"wires":[["ef81494f.a79838","5d3d210b.f26638","8e716add.080438","f74ea69d.9c9068","f77a56c6.2ea398","5556d4d2.a445b4","8558df6f.7ffea8","d6a39b4c.d8731","a99d43c.59e85c","9d885524.4aa4a8","823c4df1.70e25"]]},{"id":"28a7a70d.fd1bb8","type":"counter-loop","z":"c51b4258.acead","name":"loop 1000 times","counter":"ilc513a87f33279","counterType":"msg","reset":false,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"200","terminationType":"num","increment":1,"incrementType":"num","x":1720,"y":860,"wires":[[],["2cc7f1c8.9bd34e"]]},{"id":"5d3d210b.f26638","type":"debug","z":"c51b4258.acead","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2230,"y":1000,"wires":[]},{"id":"8e716add.080438","type":"function","z":"c51b4258.acead","name":"Reset Databank","func":"msg.payload = {\n    value: msg.payload,\n    'fc': 16, \n    'unitid': 1, \n    'address': 100 , \n    'quantity': 100 \n    \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2240,"y":620,"wires":[["ecedaab8.9ce098"]]},{"id":"f74ea69d.9c9068","type":"function","z":"c51b4258.acead","name":"Reset Databank","func":"msg.payload = {\n    value: msg.payload,\n    'fc': 16, \n    'unitid': 1, \n    'address': 200 , \n    'quantity': 100 \n    \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2240,"y":660,"wires":[["192938ec.07d00f"]]},{"id":"f77a56c6.2ea398","type":"function","z":"c51b4258.acead","name":"Reset Databank","func":"msg.payload = {\n    value: msg.payload,\n    'fc': 16, \n    'unitid': 1, \n    'address': 300 , \n    'quantity': 100 \n    \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2240,"y":700,"wires":[["ce37e2f3.9fcab"]]},{"id":"5556d4d2.a445b4","type":"function","z":"c51b4258.acead","name":"Reset Databank","func":"msg.payload = {\n    value: msg.payload,\n    'fc': 16, \n    'unitid': 1, \n    'address': 400 , \n    'quantity': 100 \n    \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2240,"y":740,"wires":[["3aee25d4.21a332"]]},{"id":"8558df6f.7ffea8","type":"function","z":"c51b4258.acead","name":"Reset Databank","func":"msg.payload = {\n    value: msg.payload,\n    'fc': 16, \n    'unitid': 1, \n    'address': 500 , \n    'quantity': 100 \n    \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2240,"y":780,"wires":[["f8a4ef46.2b32c8"]]},{"id":"d6a39b4c.d8731","type":"function","z":"c51b4258.acead","name":"Reset Databank","func":"msg.payload = {\n    value: msg.payload,\n    'fc': 16, \n    'unitid': 1, \n    'address': 600 , \n    'quantity': 100 \n    \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2240,"y":820,"wires":[["a2bf7955.a00638"]]},{"id":"a99d43c.59e85c","type":"function","z":"c51b4258.acead","name":"Reset Databank","func":"msg.payload = {\n    value: msg.payload,\n    'fc': 16, \n    'unitid': 1, \n    'address': 700 , \n    'quantity': 100 \n    \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2240,"y":860,"wires":[["4552f979.cbee48"]]},{"id":"9d885524.4aa4a8","type":"function","z":"c51b4258.acead","name":"Reset Databank","func":"msg.payload = {\n    value: msg.payload,\n    'fc': 16, \n    'unitid': 1, \n    'address': 800 , \n    'quantity': 100 \n    \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2240,"y":900,"wires":[["cb6e789b.541ac"]]},{"id":"823c4df1.70e25","type":"function","z":"c51b4258.acead","name":"Reset Databank","func":"msg.payload = {\n    value: msg.payload,\n    'fc': 16, \n    'unitid': 1, \n    'address': 900 , \n    'quantity': 100 \n    \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2240,"y":940,"wires":[["c46e080c.bacb4"]]},{"id":"ecedaab8.9ce098","type":"modbus-flex-write","z":"c51b4258.acead","name":"","showStatusActivities":false,"showErrors":false,"server":"c9648d9f.9350a8","emptyMsgOnFail":false,"keepMsgProperties":true,"x":2450,"y":620,"wires":[[],[]]},{"id":"192938ec.07d00f","type":"modbus-flex-write","z":"c51b4258.acead","name":"","showStatusActivities":false,"showErrors":false,"server":"c9648d9f.9350a8","emptyMsgOnFail":false,"keepMsgProperties":true,"x":2450,"y":660,"wires":[[],[]]},{"id":"ce37e2f3.9fcab","type":"modbus-flex-write","z":"c51b4258.acead","name":"","showStatusActivities":false,"showErrors":false,"server":"c9648d9f.9350a8","emptyMsgOnFail":false,"keepMsgProperties":true,"x":2450,"y":700,"wires":[[],[]]},{"id":"3aee25d4.21a332","type":"modbus-flex-write","z":"c51b4258.acead","name":"","showStatusActivities":false,"showErrors":false,"server":"c9648d9f.9350a8","emptyMsgOnFail":false,"keepMsgProperties":true,"x":2450,"y":740,"wires":[[],[]]},{"id":"f8a4ef46.2b32c8","type":"modbus-flex-write","z":"c51b4258.acead","name":"","showStatusActivities":false,"showErrors":false,"server":"c9648d9f.9350a8","emptyMsgOnFail":false,"keepMsgProperties":true,"x":2450,"y":780,"wires":[[],[]]},{"id":"a2bf7955.a00638","type":"modbus-flex-write","z":"c51b4258.acead","name":"","showStatusActivities":false,"showErrors":false,"server":"c9648d9f.9350a8","emptyMsgOnFail":false,"keepMsgProperties":true,"x":2450,"y":820,"wires":[[],[]]},{"id":"4552f979.cbee48","type":"modbus-flex-write","z":"c51b4258.acead","name":"","showStatusActivities":false,"showErrors":false,"server":"c9648d9f.9350a8","emptyMsgOnFail":false,"keepMsgProperties":true,"x":2450,"y":860,"wires":[[],[]]},{"id":"cb6e789b.541ac","type":"modbus-flex-write","z":"c51b4258.acead","name":"","showStatusActivities":false,"showErrors":false,"server":"c9648d9f.9350a8","emptyMsgOnFail":false,"keepMsgProperties":true,"x":2450,"y":900,"wires":[[],[]]},{"id":"c46e080c.bacb4","type":"modbus-flex-write","z":"c51b4258.acead","name":"","showStatusActivities":false,"showErrors":false,"server":"c9648d9f.9350a8","emptyMsgOnFail":false,"keepMsgProperties":true,"x":2450,"y":940,"wires":[[],[]]},{"id":"814eb17e.acff1","type":"function","z":"c51b4258.acead","name":"Read Detection Data","func":"var reg = 20;\nvar i = 0;\n\nwhile(i<1000){\n        \n    msg.payload = {\n        'fc': 3, \n        'unitid': 1, \n        'address': reg, \n        'quantity': 4\n    };\n    \n    reg += 10;\n    i += 10;\n    node.send(msg);\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":240,"wires":[["233e283e.f1c04"]]},{"id":"233e283e.f1c04","type":"modbus-flex-getter","z":"c51b4258.acead","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"c9648d9f.9350a8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":540,"y":240,"wires":[["2a8d33a9.efc0a4"],[]],"info":"msg.payload = { value: msg.payload, 'fc': 3, 'unitid': 1, 'address': 1, 'quantity': 10 } \n\nreturn msg"},{"id":"8aba9151.035188","type":"rbe","z":"c51b4258.acead","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":250,"y":120,"wires":[["7a33b841.c8c4f"]]},{"id":"188627a9.58dbe","type":"debug","z":"c51b4258.acead","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":160,"wires":[]},{"id":"2a8d33a9.efc0a4","type":"function","z":"c51b4258.acead","name":"","func":"if (msg.payload[0]==0){\n    msg.payload = 0\n\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":240,"wires":[["31525a7.241dea6"]]},{"id":"31525a7.241dea6","type":"switch","z":"c51b4258.acead","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":910,"y":240,"wires":[["6fe453ac.5074bc","3fc0778c.44e66","8209fbb0.e88b9"]]},{"id":"6fe453ac.5074bc","type":"debug","z":"c51b4258.acead","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":160,"wires":[]},{"id":"ddacfb58.b13728","type":"file","z":"c51b4258.acead","name":"Write to file","filename":"datafile.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"utf8","x":1290,"y":240,"wires":[[]]},{"id":"3fc0778c.44e66","type":"function","z":"c51b4258.acead","name":"","func":"// msg.payload = {\n//     \"partnumber\" : msg.payload[0],\n//     \"pickpoint\" : [msg.payload[1], msg.payload[2]],\n//     \"orientation\" : msg.payload[3]\n// }\nmsg.payload = msg.payload[0]+\",\"+msg.payload[1]+\",\"+ msg.payload[2]+\",\"+msg.payload[3];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":240,"wires":[["ddacfb58.b13728"]]},{"id":"37a8b8dd.16e3c","type":"csv","z":"c51b4258.acead","name":"","sep":",","hdrin":"","hdrout":"none","multi":"mult","ret":"\\n","temp":"Part Number,PickPointX,PickPointY,Orientation","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":530,"y":1280,"wires":[["cc2b4ab4.58f5e","a4228234.9a85d"]]},{"id":"586484db.0209f4","type":"file in","z":"c51b4258.acead","name":"Read Data File","filename":"datafile.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":360,"y":1280,"wires":[["37a8b8dd.16e3c"]]},{"id":"cc2b4ab4.58f5e","type":"ui_table","z":"c51b4258.acead","group":"43e0804c.568bf","name":"Item Data","order":0,"width":"10","height":"8","columns":[{"field":"Part Number","title":"Part Number","width":"25%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"PickPointX","title":"Pick Point X","width":"25%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"PickPointY","title":"Pick Point Y","width":"25%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Orientation","title":"Orientation Number","width":"25%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":740,"y":1280,"wires":[]},{"id":"9d596744.b4cc98","type":"file","z":"c51b4258.acead","name":"Clear data file","filename":"datafile.csv","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1960,"y":440,"wires":[[]]},{"id":"4f01283c.2af988","type":"function","z":"c51b4258.acead","name":"","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1700,"y":440,"wires":[["9d596744.b4cc98"]]},{"id":"f61f4550.e1bb08","type":"watch","z":"c51b4258.acead","name":"Watch data file","files":"datafile.csv","recursive":"","x":140,"y":1280,"wires":[["586484db.0209f4"]]},{"id":"a4228234.9a85d","type":"debug","z":"c51b4258.acead","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":1220,"wires":[]},{"id":"63c6683a.93adc","type":"switch","z":"c51b4258.acead","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"timeout","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1270,"y":420,"wires":[["8e96bbc9.f7a03","19d229ff.12c80e"]]},{"id":"19d229ff.12c80e","type":"debug","z":"c51b4258.acead","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1450,"y":360,"wires":[]},{"id":"8209fbb0.e88b9","type":"timeouttrigger","z":"c51b4258.acead","ontimeouttype":"str","ontimeoutval":"timeout","duration":"30","units":"s","name":"","x":1090,"y":340,"wires":[[]]},{"id":"60ef35b.30cdbcc","type":"modbus-server","z":"c51b4258.acead","name":"","logEnabled":false,"hostname":"localhost","serverPort":"502","responseDelay":100,"delayUnit":"ms","coilsBufferSize":10000,"holdingBufferSize":10000,"inputBufferSize":10000,"discreteBufferSize":10000,"showErrors":false,"x":180,"y":320,"wires":[[],[],[],[],[]]},{"id":"c9648d9f.9350a8","type":"modbus-client","name":"Modbus Red One","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"localhost","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"9d4f1ab6.7b2bc","type":"ui_group","name":"Count","tab":"2611d4af.ee017c","order":1,"disp":true,"width":"6","collapse":false},{"id":"731fbc4f.671dec","type":"ui_group","name":"Controls","tab":"2611d4af.ee017c","order":2,"disp":true,"width":"6","collapse":false},{"id":"43e0804c.568bf","type":"ui_group","name":"Item Detection Data","tab":"2611d4af.ee017c","order":3,"disp":true,"width":"10","collapse":false},{"id":"2611d4af.ee017c","type":"ui_tab","name":"Dashboard","icon":"dashboard","disabled":false,"hidden":false}]